<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clear Comms</title>
</head>
<body>
    <header>
        <%= message %>
        <% if (!logged) { %>
            <h4>Login</h4>
            <form action="/auth/login" method="POST">
                <input type="text" name="username" placeholder="username"><br>
                <input type="password" name="password" placeholder="password"><br>
                <button type="submit">Login</button>
            </form>
        
            <h4>Registration</h4>
            <form action="/auth/registration" method="POST">
                <input type="text" name="username" placeholder="username"><br>
                <input type="email" name="email" placeholder="email"><br>
                <input type="password" name="password" placeholder="password"><br>
                <button type="submit">Register</button>
            </form>
        <% } %>
        <h1>Welcome to Clear Comms</h1>
        <nav>
            <% if (logged) { %>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>
            <% } %>
            <ul>
                <li>
                    <a href="/topics">Browse Topics</a>
                </li>
                <li>
                    <a href="/posts">Browse Posts</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>