<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clear Comms</title>
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }
        body {
            font-family: 'Kanit', sans-serif;
            text-align: center;
            background-color: grey;
        }
        h1 {
            color: white;
            padding: 10px 10px;
        }
        h3 {
            color: #8a0303;
            padding: 10px;
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        li {
          float: left;
        }
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        button {
            width: 20%;
            background-color: black;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
        input {
            width: 20%;
        }
        .logout {
            float: right;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
            <% if (logged) { %>
                <li class="logout">
                    <a href="/auth/logout">LOGOUT</a>
                </li>
            <% } %>
                <li>
                    <a href="/topics">BROWSE GAMES</a>
                </li>
                <li>
                    <a href="/posts">BROWSE POSTS</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>WELCOME TO CLEAR COMMS</h1>
    <h3>DISCOVER NEW TEAMMATES</h3>
    <h3>STRATEGIZE</h3>
    <h3>WIN</h3>
    <main>
        <%= message %>
        <% if (!logged) { %>
            <h4>LOGIN</h4>
            <form action="/auth/login" method="POST">
                <input type="text" name="username" placeholder="USERNAME"><br>
                <input type="password" name="password" placeholder="PASSWORD"><br>
                <button type="submit">LOGIN</button>
            </form>
        
            <h4>REGISTRATION</h4>
            <form action="/auth/registration" method="POST">
                <input type="text" name="username" placeholder="USERNAME"><br>
                <input type="email" name="email" placeholder="EMAIL"><br>
                <input type="password" name="password" placeholder="PASSWORD"><br>
                <button type="submit">REGISTER</button>
            </form>
        <% } %>
    </main>
</body>
</html>