<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>posts</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/posts/new">create a new post</a>
                </li>
                <li>
                    <a href="/topics">topics index</a>
                </li>
            </ul>
        </nav>  
    </header>
    <main>
        <h2>list of posts</h2>
        <ul>
            <% for(let i = 0; i < posts.length; i++) { %>
                <li>
                    <a href="/posts/<%= posts[i]._id %>"><%= posts[i].postName %></a>
                </li>
            <% } %>
        </ul>
    </main>
</body>
</html>