<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Post</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/posts">All Posts</a>
                </li>
                <li>
                    <a href="/topics">All Games</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Create a Post</h1>
        <form action="/posts" method="POST">
            <select name="topic">
                <% for(let i = 0; i < topics.length; i++) { %>
                    <option value="<%= topics[i]._id %>"><%= topics[i].name %></option>
                <% } %>
            </select><br>
            <input type="text" name="postName" /><br/>
            <textarea name="body"></textarea><br/>
            <input type="submit" value="Submit Post"/>
        </form>
    </main>
</body>
</html>