<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Topic</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/posts">All Posts</a>
                </li>
                <li>
                    <a href="/posts/new">Create a New Post</a>
                </li>
                <li>
                    <a href="/topics">All Topics</a>
                </li>
            </ul>
        </nav>  
    </header>
    <main>
        <h1> Edit <%= topic.name %></h1>
        <h2> Topic:</h2>
        <form action="/topics/<%= topic._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= topic.name %>"/><br/>
            <input type="submit" value="Update Topic"/>
        </form>
    </main>
</body>
</html>