<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Game</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/posts">All Posts</a>
                </li>
                <li>
                    <a href="/posts/new">Create a New Post</a>
                </li>
                <li>
                    <a href="/topics">All Games</a>
                </li>
            </ul>
        </nav>  
    </header>
    <main>
        <h1>Create a New Game</h1>
        <form action="/topics" method="POST">
            <label>Topic</label>
            <input type="text" name="name" placeholder="Topic Name" />
            <input type="submit" value="Create Topic" />
        </form>
    </main>
</body>
</html>