<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>show page for this topic: <%= topic.name %></h1>
    </header>
    <main>
        <section>
            <h2>topic contents</h2>
            <ul>
                <li>topic name: <%= topic.name %></li>
            </ul>
        </section>
        <section>
            <form action="/topics/<%= topic._id %>?_method=DELETE" method="POST">
                <input type="submit" value="delete topic" />
            </form>
        </section>
        <section>
            <a href="/topics/<%= topic._id %>/edit">edit</a>
        </section>
    </main>
</body>
</html>